:root {
  --color-first: #e84545;
  --color-second: #2b2e4a;
  --color-third: #fff;
  --color-fourth: #53354a;
  --color-fifth: #903749;

  --color-black-first: #000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;

  --color-sucess: #62c370;
  --color-error: #ba1f33;
  --color-warning: #ceb02a;
}

body {
  font-family: "Press Start 2P", cursive;
}
