:root {
  --color-first: #f24c00;
  --color-second: #07031a;
  --color-third: #f4f6ff;
  --color-fourth: #fbd46d;
  --color-fifth: #b61000;
  --color-sixth: #4f8a8b;

  --color-black-first: #000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;

  --color-sucess: #62c370;
  --color-error: #ba1f33;
  --color-warning: #ceb02a;

  --desktop-size: 1368px;
  --laptop-size: 1200px;
  --medium-size: 980px;
  --tablet-size: 768px;
  --small-size: 560px;
  --phone-size: 475px;

  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-fourth) var(--color-second);
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--color-second);
}
