.about-card {
  display: flex;
  min-width: 28rem;
  max-width: 28rem;
  height: 38rem;
  border: 1em solid var(--color-black-first);
  background-color: var(--color-first);
  border-radius: 1.5rem;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;
}

@media screen and (max-width: 475px) {
  .about-card {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 320px) {
  .about-card {
    transform: scale(0.8);
  }
}

@media screen and (max-height: 360px) {
  .about-card {
    height: 97.5vh;
    border: 0.5em solid var(--color-black-first);
  }
}
