.wrapper-timeline {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.wrapper-cards {
  display: flex;
  flex-flow: row nowrap;
  width: 75%;
  overflow-x: scroll;
  margin: 0 1.25em;
  z-index: 1;
}

.wrapper-cards .about-card {
  margin: 0 2.5em;
}

@media screen and (max-width: 475px) {
  .wrapper-cards {
    margin: 0;
  }
}
