.button-main {
  font-family: "Fira Code", monospace;
  font-size: 2rem;
  border-radius: 0px;
  border: 0px;
  background-color: var(--color-first);
  color: var(--color-third);
  box-shadow: 0.25em 0.25em 0px var(--color-black-first);
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.28, 0.23, 0.52, 2.08);
}

.button-main:focus,
.button-main:hover {
  background-color: var(--color-fifth);
  transform: scale(1.05);
}

.button-main:active {
  transform: scale(0.95);
}
