.description-paragraph {
  display: inline-block;
  font-family: "Fira Code", monospace;
  font-size: 2.5rem;
  line-height: 1.312em;
}

.description-paragraph.-project {
  max-width: 24em;
}

.description-paragraph.-about {
  font-size: 1.8rem;
  margin-bottom: 0;
  text-align: justify;
  max-width: calc(100% - 2em);
  color: var(--color-third);
}

.description-paragraph.-about-me {
  color: var(--color-third);
  text-align: justify;
  margin-bottom: 0;
  width: min(92.5%, calc(100% - 3.5em));
  margin-top: min(2.5rem, 2.5vmax);
}

@media screen and (max-width: 1200px) {
  .description-paragraph {
    font-size: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .description-paragraph {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .description-paragraph {
    margin-bottom: 0.75em;
  }
}

@media screen and (max-width: 475px) {
  .description-paragraph {
    font-size: 2.5vh;
  }

  .description-paragraph.-about-me {
    margin-top: 2.5vmax;
  }
}
