.form-main {
  min-width: 30rem;
  width: min(80%, 47.5rem);
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-bottom: 5rem; /*Remover margin bottom, quando a tela for maior que 1024px*/
}
