.header-page {
  display: flex;
  background-color: var(--color-second);
  font-family: "Fira Code", monospace;
  font-size: 2rem;
  color: var(--color-third);
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 0.4em solid var(--color-blakc-first);
}
