.introduction {
  display: flex;
  height: 695px;
  background-color: var(--color-fourth);
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-image: url("https://wallpapercave.com/wp/wp1933950.png");
  background-position: center 15%;
}

.wrapper-actions {
  display: flex;
  width: 680px;
  justify-content: space-around;
}

@media (max-width: 1165px) {
  .introduction {
    height: 1080px;
    flex-flow: column-reverse wrap;
    justify-content: center;
  }
}
