.introduction-wrapper {
  position: relative;
  bottom: 10%;
}

.introduction-banner {
  display: flex;
  background-color: var(--color-second);
  box-shadow: 1em 1em 0px var(--color-black-first);
  flex-flow: column wrap;
  margin: 0 0 4em;
  padding: 4em 7em;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .introduction-wrapper {
    position: static;
  }
}

@media screen and (max-width: 560px) {
  .introduction-banner {
    padding: 4em 3.25em;
  }
}
