.wrapper-presentation {
  position: relative;
  bottom: 10%;
}

.main-presentation {
  display: flex;
  background-color: var(--color-second);
  box-shadow: 10px 10px 0px var(--color-black-first);
  flex-flow: column wrap;
  margin: 0px 0px 40px;
  padding: 40px 70px;
  text-align: center;
}

@media (max-width: 1165px) {
  .wrapper-presentation {
    position: static;
    margin-top: 50px;
  }
}
