.profile-picture {
  box-shadow: 0.4em 0.4em 0px var(--color-black-first);
  border: 0.5em solid var(--color-first);
}

@media screen and (max-width: 1200px) {
  .profile-picture {
    transform: scale(0.92);
  }
}

@media screen and (max-width: 475px) {
  .profile-picture {
    width: calc(100vw - 5em);
  }
}
