.project-wrapper {
  display: flex;
  width: 100%;
  max-width: 111.5rem;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 2.5em;
}

.project-wrapper > .project-card {
  margin-bottom: 5rem;
}

.project-wrapper > .section-description {
  margin-bottom: 5rem;
}
