.project-card {
  display: inline-block;
  height: 280px;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
  border: 0px;
  box-shadow: 10px 10px 0px var(--color-third);
  cursor: pointer;
}

.project-card:nth-child(odd) {
  background-color: var(--color-second);
}

.project-card:nth-child(even) {
  background-color: var(--color-sixth);
}

.project-card.-description {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: grab;
}

.project {
  width: 90%;
}
