.section-main {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 5em 0;
  border-bottom: 0.8em solid var(--color-black-second);
}

.section-main.-skills {
  background-color: var(--color-first);
}

.section-main.-projects {
  background-color: var(--color-black-first);
  padding: 5em 0 0;
  border-bottom: 0.8em solid var(--color-fifth);
}

.section-main.-about-me {
  background-color: var(--color-second);
  border-bottom: 0.8em solid var(--color-fifth);
}
