.section-description {
  background-color: var(--color-first);
  border: 8px solid var(--color-black-third);
  padding: 80px 100px;
}

.project-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
