.section {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 50px 0px;
  border-bottom: 8px solid var(--color-black-second);
}

.-skills {
  /*justify-content: center;
  height: 600px;*/
  background-color: var(--color-first);
}

.section.-projects {
  background-color: var(--color-black-first);
}
