.section-description.-disabled {
  border: 0 solid var(--color-black-third);
  height: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  transition: 1000ms ease-in-out;
  background-color: var(--color-first);
  position: relative;
}

.section-description.-active {
  background-color: var(--color-first);
  border: 0.8em solid var(--color-black-third);
  padding: 8em 7.5em;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: space-between;
  width: 100%;
  height: 35em;
  position: relative;
  overflow: hidden;
  transition: 1000ms ease-in-out;
}

.project-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .section-description.-disabled {
    width: calc(100% - 10vw);
  }
  .section-description.-active {
    width: calc(100% - 25vw);
    padding: 6rem 5rem;
  }
  .project-description {
    justify-content: space-around;
  }
}

@media screen and (max-width: 980px) {
  .section-description.-active {
    height: 60em;
    padding: 5rem 4rem;
  }
  .project-description {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 768px) {
  .section-description.-active {
    height: 64em;
    padding: 4rem 3rem 2em;
  }
}

@media screen and (max-width: 560px) {
  .section-description.-active {
    height: 68em;
    padding: 2rem;
  }
} ;
