.skill-measure {
  display: inline;
}

.measure {
  background: none;
  width: 32em;
  height: 2.5em;
  background-color: var(--color-fourth);
}

.measure::-webkit-meter-bar {
  background-color: var(--color-fourth);
  border-radius: 0px;
  border: 0.5em solid var(--color-second);
  background-origin: border-box;
  box-sizing: content-box;
  height: 2.5em;
}

.measure::-webkit-meter-optimum-value {
  background-color: var(--color-second);
  transition: 2000ms 500ms;
}

*::-moz-meter-bar {
  background: none;
  background-color: var(--color-second);
}

@media screen and (max-width: 475px) {
  .measure {
    width: calc(100vw - 16em);
  }
}
