#skill-list {
  max-width: 120em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 38em;
}

@media (max-width: 980px) {
  #skill-list {
    flex-flow: column wrap;
    height: 61em;
    padding: 0 0 2.5em;
  }
}
