.skill-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 9em;
  width: 43em;
  justify-content: space-between;
  align-items: center;
}

.skill-wrapper-details {
  display: flex;
  height: 9em;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (max-width: 475px) {
  .skill-wrapper {
    justify-content: space-evenly;
    width: 100vw;
  }

  .skill-wrapper-details {
    justify-content: space-evenly;
  }
}
