.subtitle-main {
  display: inline-block;
  font-family: inherit;
  font-size: 3rem;
  color: var(--color-third);
  text-shadow: 0.2em 0.2em 0px var(--color-black-first);
}

.subtitle-main.-year {
  color: var(--color-second);
  text-shadow: 0 0 0.1em #000;
  font-size: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .subtitle-main.-introduction {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 475px) {
  .subtitle-main.-introduction {
    font-size: 1.8rem;
    line-height: 1.25;
    letter-spacing: 0.15em;
  }
} ;
