.title-main {
  display: inline-block;
  font-family: inherit;
  font-size: 40px;
  color: var(--color-first);
  text-shadow: 4px 4px 0px var(--color-black-first);
  margin-bottom: 30px;
}

.title-main.-section {
  display: inline;
  color: var(--color-third);
  text-shadow: 0px 1px 4px #000;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title-main.-skill {
  font-size: 25px;
  color: var(--color-third);
  text-shadow: 0px 1px 4px #000;
  margin-bottom: 0px;
}

.title-main.-project {
  font-size: 33px;
  color: var(--color-third);
  text-shadow: none;
  margin-bottom: 40px;
  text-shadow: 0px 1px 4px #000;
}
