.title-main {
  display: inline-block;
  font-family: inherit;
  font-size: 4rem;
  color: var(--color-first);
  text-shadow: 0.1em 0.1em 0px var(--color-black-first);
  margin-bottom: 0.75em;
}

@media screen and (max-width: 1200px) {
  .title-main.-introduction {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 560px) {
  .title-main.-introduction {
    font-size: 3rem;
  }
}

.title-main.-section {
  display: inline;
  color: var(--color-third);
  text-shadow: 0px 1px 4px #000;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title-main.-skill {
  font-size: 25px;
  color: var(--color-third);
  text-shadow: 0px 1px 4px #000;
  margin-bottom: 0px;
}

.title-main.-project {
  font-size: 33px;
  color: var(--color-third);
  text-shadow: none;
  margin-bottom: 40px;
  text-shadow: 0px 1px 4px #000;
}
