.title {
  display: inline-block;
  font-family: inherit;
  font-size: 40px;
  color: var(--color-first);
  text-shadow: 4px 4px 0px var(--color-black-first);
  margin-bottom: 30px;
}
.title.-section {
  color: var(--color-third);
  text-shadow: none;
}

.title.-skill {
  font-size: 25px;
  color: var(--color-third);
  text-shadow: none;
  margin-bottom: 0px;
}
