.title-main {
  display: inline-block;
  font-family: inherit;
  font-size: 4rem;
  color: var(--color-first);
  text-shadow: 0.1em 0.1em 0px var(--color-black-first);
  margin-bottom: 0.75em;
}

#title-main-phone-screens {
  display: none;
}

.title-main.-section {
  display: inline;
  color: var(--color-third);
  text-shadow: 0 0.025em 0.1em #000;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.title-main.-skill {
  font-size: 2.5rem;
  color: var(--color-third);
  text-shadow: 0px 0.04em 0.16em #000;
  margin-bottom: 0px;
}

.title-main.-project {
  font-size: 3.2em;
  color: var(--color-third);
  text-shadow: none;
  margin-bottom: 1.25em;
  text-shadow: 0 0.1rem 0.4rem #000;
}

@media screen and (max-width: 1200px) {
  .title-main.-introduction {
    font-size: 3.25rem;
  }
  .title-main.-project {
    font-size: 3rem;
  }
}

@media screen and (max-width: 560px) {
  .title-main.-introduction {
    font-size: 3rem;
  }
  .title-main.-section {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 475px) {
  #title-main-large-screens {
    display: none;
  }

  #title-main-phone-screens {
    display: inline-block;
    line-height: 1.2;
    letter-spacing: 0.09em;
  }

  .title-main.-skill {
    font-size: 1.9rem;
  }
}
